.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json                     
.obsidian/backlink.json                     

.obsidian/obsidian-git/data.json
.obsidian/dataview/data.json
.obsidian/os-clear-unused-images/data.json
