.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/appearance.json                     
.obsidian/backlink.json                     

.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/dataview/data.json
.obsidian/plugins/os-clear-unused-images/data.json
