.grilla {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    padding-top: 1em;
}

.nota, .nota-larga {
    border-radius: 1em;
    border: 2px solid #dadada; 
    padding: 0 0 1em 2em;
    min-height: 4em;
}

.nota {
    flex: 1 1 calc(50% - 5em);
    order: 1;
}

.nota-larga, 
.bloque-largo {
    flex: 2 1 calc(100% - 1em);
    order: 1;
}

.lista {
    display: flex;
    flex-direction: column;
    padding-right: 1.5em;
}

.nota-larga .lista, 
.bloque-largo .lista {
    column-count: 2;
    column-gap: 1em;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-right: 2.7em;
}

.etapa {
    position: relative;
    margin: 0;
}

.etapa svg {
    position: absolute;
    top: 0;
    right: 1em;
    width: 1.5em;
}

.subnombre {
    text-indent: 1em;
    font-size: 0.9rem;
    margin: 0;
}

.item {
    margin: 0;
    color: #9a9a9a;
    font-size: 0.9rem;
    padding-left: 0.5em;
}

.p {
    margin: 0;
    padding: 0;
}

summary {
    list-style: none;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='svg-icon right-triangle'%3E%3Cpath d='M3 8L12 17L21 8'%3E%3C/path%3E%3C/svg%3E") no-repeat 0.2em 0.5em;
    padding-left: 1.7em;
    background-size: 0.8em;
}

details > details {
    padding-left: 1.7em;
}

details > .grilla {
    padding-left: 3.4em;
}
