.grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.nota {
    border-radius: 1em;
    border: 2px solid #dadada; 
    padding: 1em 2em;
    min-height: 4em;
}

.alias {
    margin: 0;
    color: #9a9a9a;
    font-size: 0.9rem;
}

.p {
    margin: 0;
    padding: 0;
}